@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  border: radius 10px; ;
}


body {
  font-family: Poppins;
  font-size: 1.125rem;
  color: black;
  background-color: #063270;
  margin: 0;
  padding: 0;
}

main {
  background-color: white;
  /* text-align: center; */
  border-bottom: 5px solid #ffd034;
  border-top: 5px solid #ffd034;
}
header {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo {
  display: flex;
  gap: 1rem;
}
.logo img {
  object-fit: contain;
}

h1,h2,h3 {
  font-weight: 300;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  
  
}
nav a {
  color: #ffffff;
  text-decoration: none;
}
.card {
  display: grid;                         
  background-color: #ffffff;
  border-radius: 12px;             
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  
}
.coffee-card img {
  border-radius: 10px;
}
.button {
  background-color: #209d5c ;
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;


}
.button1 {
  background-color: #06327d;
   padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;

}
.light-blue {
  background-color:#cadbf8 ;
 padding: 1rem;
}
.dark-blue {
background-color: #06327d;
max-width: 1200px;
margin: 0 auto;
}
footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 650px ) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem
  }
}
@media (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr ;

  }
  header {
    justify-content: space-between;
  }
  .card {
    margin: 0
  }
}



  


